<div >
    <div class="col-md-12">
      <h4>Lista de Pessoas</h4>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Cód:</th>
            <th scope="col">Nome:</th>
            <th scope="col">Cpf:</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Sexo</th>
            <th scope="col">Altura</th>
            <th scope="col">Peso</th>
          </tr>
        </thead>
        <tbody>
        @for (pessoa of pessoas; track pessoa.id; let i = $index) {
          <tr>
            <th scope="row">{{ pessoa.id }}</th>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.cpf }}</td>
            <td>{{ pessoa.dataNascimento }}</td>
            <td>{{ pessoa.sexo }}</td>
            <td>{{ pessoa.altura }}</td>
            <td>{{ pessoa.peso }}</td>
            <td>
            <button class="m-3 btn btn-sm btn-danger" (click)="deleteById(pessoa.id)">
              Remover
            </button>
          </td>
          <td>
            <button class="m-3 btn btn-sm btn-primary" [routerLink]="['/add', pessoa]" >
              Editar
            </button>
          </td>
          <td>
            <button class="m-3 btn btn-sm btn-success" (click)="findPesoByIdPessoa(pessoa.id)" >
              Peso
            </button>
          </td>
          </tr>
        }
      </tbody>
      </table>
    </div>
  </div>
  